---
pagination:
    data: data.images
    size: 1
    alias: image
permalink: "./coloring-page/{{ image.id }}.html"
layout: layout-coloring.njk
artwork: "./images/{{ image.src }}"
---

{% block content %}
<main>
    <div class="content__page">
        <div id="work-area">
            <h2>Art by: {{ image.artist }}</h2>
            {{ image.src | svgContents | safe }}
        </div>

        <div id="controls">
            <div id="color-bar" class="control-bar">
                <div id="swatch-01" class="swatch active" onclick="setColor(this)"></div>
                <div id="swatch-02" class="swatch" onclick="setColor(this)"></div>
                <div id="swatch-03" class="swatch" onclick="setColor(this)"></div>
                <div id="swatch-04" class="swatch" onclick="setColor(this)"></div>
                <div id="swatch-05" class="swatch" onclick="setColor(this)"></div>
                <img src="https://image.flaticon.com/icons/svg/3124/3124925.svg" id="color-picker" alt="hex" class="hex-picker">
            </div>

            <div id="tool-bar" class="control-bar">
                <div id="pencilTool" class="toolItem active">
                    <img class="toolIcon" src="../images/icons/pencil.svg" alt="Pencil Tool Icon">
                </div>
                <div id="eraserTool" class="toolItem">
                    <img class="toolIcon" src="../images/icons/eraser.svg" alt="Eraser Tool Icon">
                </div>
                <div id="undoButton" class="toolItem">
                    <img class="toolIcon" src="../images/icons/undo.svg" alt="Undo Icon">
                </div>
                <div id="redoButton" class="toolItem">
                    <img class="toolIcon" src="../images/icons/redo.svg" alt="Redo Icon">
                </div>
            </div>
        </div>
    </div>
</main>

<div id="color-picker_modal" class="modal">
    <div class="modal-content">
        <h2>Select a Color</h2>
        <button class="btn close"><img src="../images/icons/close.svg" alt="close icon"></button>
        <div id="picker"></div>
        <div id="selected-color-shower" class="modal-button"><h3 id="hexchange">#FFFFFF</h3></div>
        <div id="confirm" class="modal-button"><h3>Pick this color</h3></div>
    </div>
</div>
{% endblock %}